input {
    background-color: #b5b5b5a3;
    border-radius: 4px;
    color: #606060;
    height: 32px;
    max-width: 500px;
    padding-left: 12px;
    padding-right: 88px;
    transition: background-color .08s;  
}