
.header {
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    // gap: 10px;
    background-color: #148aff;
   }
   
   .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .navbar_logo {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
   }

   .header_search {

    display: flex;
    gap: 10px;

    .navbar_search {
        border-radius: 3px;
        border: none;
        outline:none;
       }

       .navbar_searchRes {
        position: relative;
        left: -25px;
        color: #acacac;
        cursor: pointer;

            & :hover {
                color: #b81414;
            }
       }

       .navbar_searchIcon {
        cursor: pointer;

        & :hover {
            fill: #0e3d70;
        }
       }
       
   }
   

   .navbar_search:focus {
    border: 1px solid rgb(60, 62, 63);
}
   
   .ul {
    list-style: none;
    margin: 0 20px;
    display: flex;
    align-items: center;
   }
   
   .li {
    margin: 0 20px;
   }
   
   .li a {
    text-decoration: none;
    color: #ffffff;
   }
   
   .li a:hover {
    color: #0e3d70;
   }
   
   .svg {
    width: 50px;
    margin-left: auto;
    // color: #ffffff;
    cursor: pointer;
   }

   .svg:hover {
    color: #0e3d70;
   }